{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": "off",
    "object-curly-newline": "off",
    "indent": ["error", 2, { "MemberExpression": "off"}],
    "curly": "off",
    "eqeqeq": "off",
    "no-useless-escape": "off",
    "max-classes-per-file": "off"
    // "no-unused-vars": ["error", { "allow": ["next"] }]
  }
}